body {
  font-family: Roboto, Arial, sans-serif;
}

.flight-board {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.flight-details {
  padding: 20px;
}

.back {
  color:dodgerblue;
  font-weight: bold;
  margin-top: 200px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.flight-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
}
